{% extends 'base.html' %}
{% load i18n %}

{% block header_class %}grey-nav{% endblock %}


{% block content %}
    <div class="container confirm-password">
      <form id="confirmform" method="post">
        {% csrf_token %}
            <h5 class="mt-3">{% trans 'You have been connected for a while now and we need you to enter your password as a security measure' %}</h5>
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary" id="confirm">{% trans 'Confirm your password'%}</button>
      </form>
        <p class="mt-4"><small><a class="nav-link2 ml-2 pl-2" href="{% url 'my_app:user_logout' %}">{% trans 'Logout instead?'%}</a></small></p>

    </div>

    <script>
    $(document).ready(function() {
    $("#confirm").click(function() {
      // disable button
      $(this).prop("disabled", true);
      // add spinner to button
      $(this).html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      $("#confirmform")[0].submit()
    });
});
    </script>

{% endblock %}