
 <div id="smartwizardpart">
     <ul class="nav">
         <li><a class="nav-link" href="#step-0">Step 0<br /><small>Important</small></a></li>
         <li><a class="nav-link" href="#step-1">Step 1<br /><small>Fast links</small></a></li>
         <li><a class="nav-link" href="#step-2">Step 2<br /><small>Contact participants</small></a></li>
         <li><a class="nav-link" href="#step-3">Step 3<br /><small>Downloads</small></a></li>
         <li><a class="nav-link" href="#step-4">Step 4<br /><small>See participants</small></a></li>
         <li><a class="nav-link" href="#step-5">Step 5<br /><small>Validate/modify talks/posters</small></a></li>
     </ul>
     <div class="tab-content">
         <div id="step-0" class="tab-pane" role="tabpanel">
             <h3 style="text-align: center" class="mb-3">Important</h3>

             <h5>This is the participant tab where you can manage all persons attending your meeting!</h5>
             <p>On this page, you can see all the participant's names and have access to details about their talks and/or posters. You can check whether they have paid (make it for free for a few of them if needed), accept their participations, see their posters or slides, add their talks to the program and much more... </p>
             <p>You can also contact the participants individually or by group (e.g., those who submitted posters, who haven't paid yet, ...).</p>
             <p>Lastly, you can download the list of participants in an Excel-type format (csv) or the list of abstracts so that you can have a closer look at them directly from your computer.</p>
         </div>
         <div id="step-1" class="tab-pane" role="tabpanel">
             <h3 style="text-align: center" class="mb-3">Fast registration links</h3>
                 <h5>Fast links can be really useful initially or after the abstract submission deadline has passed.</h5>

             <p>The fast registration links can be provided to persons that should register. At first, you may not have created a conference website yet but you'd like to add your co-organizers so that you can provide them the fast registration link and they can register from there. You will then see them in the
                 administration panel here and should validate them and make them superusers so that they have access to the admin panel as well and can work with you. The fast registration link can also be given to late participants who cannot register anymore once the abstract deadline has passed. This is then your choice to provide this link or not and if you do, they will then be able to register from there (bypassing the deadline).</p>

         </div>
         <div id="step-2" class="tab-pane" role="tabpanel">
             <h3 style="text-align: center" class="mb-3">Contact participants</h3>
             <h5>You can easily contact participants either one by one or by group.</h5>
             <p>To <strong>individually</strong> contact a participant, you can either grab their email from the listed participants or click on the <a href="#" class="btn btn-dark a-btn-slide-text py-0">
                    <span class="fa fa-envelope" aria-hidden="true"></span></a> symbol besides their names and then follow instructions.</p>
             <p>It is also interesting to be able to contact a <strong>group of persons</strong> at once. To do so click the <a class="btn btn-dark a-btn-slide-text py-0">
     <span class="fa fa-envelope" aria-hidden="true"></span>
        <span><strong>Send group emails</strong></span></a> button at the top left of the screen. From there you will see a list of the groups you can contact (tell us if we are missing important groups), such as, All, Moderators, Participants with invited talks, ... Note that with the right keyboard combination (using the Alt key - or Command for Macs) you can email several groups at once.</p>
             <p>Be sure to indicate a valid email in the 'Email for people to reply to' because this is where participants will be able to reply back to you if questions where asked.</p>

         </div>
         <div id="step-3" class="tab-pane" role="tabpanel">
             <h3 style="text-align: center" class="mb-3">Downloads</h3>
             <h5>Download the list of participants or the list of abstracts in one click.</h5>
             <p>There are three documents you can download from this tab:</p>
             <p style="text-align: left"><strong>Abstract book:</strong> This is the list of all accepted abstracts (talks and posters) in pdf format. It also shows the current program as well as the accepted participants. Note that this abstract book will also be downloadable from your conference website by your participants (when you allow it in the conference website tab).</p>
             <p style="text-align: left"><strong>List of participants:</strong> You get the full list of participants as a csv file with their names, emails, status of their participations, if they have paid, ...</p>
             <p style="text-align: left"><strong>Submitted abstracts:</strong> It shows all the abstracts (posters and talks) in pdf format, be they accepted or yet waiting for validation. It is useful when you need to select which abstracts you will support.</p>

         </div>
         <div id="step-4" class="tab-pane" role="tabpanel">
             <h3 style="text-align: center" class="mb-3">See participants</h3>
            <h5>The main attraction of the page is the list of persons listed by bunch of 100 per page.</h5>
             <p>You can see the participants names and emails as well as some buttons to the right of that. First, note that there are two independent lists. The above list is for participants that were entered by you or other organizers (you can add them one by one or provide a list through an Excel file by clicking on the 'upload an Excel file with participants' button), and the second list is for participants that registered through your conference website.</p>
            <p>An option that can be very useful when you start having many participants is that you can sort the participants by date, participation type, status, or name (in ascending or decreasing order). You could take advantage of it, for instance, if you want to look for participants that have yet to be validated or the latest arrivals or just the posters, ...</p>
             <p>If participants registered for a talk or poster and that they are validated, you can see a plus button to the right of their names similar to <a class="btn btn-info a-btn-slide-text py-0"><span class="fa fa-plus" aria-hidden="true"></span></a>. When you click the plus button, the talk gets automatically added to the program. You can then go to the program and place it where
                 you'd like without having to fill out all info such as title, speaker's name, abstract, ... that are already present.</p>
             <p>Another useful option is that you can see more details about each participant and what their participation is by clicking on a button that looks like that <a class="btn btn-info a-btn-slide-text py-0"><span class="fas fa-user" aria-hidden="true">Waiting (2)  T  P </span></a>. T and P indicate that a talk and a poster where submitted by this participant (T=Talk, P=Poster, R=Review, I=Invited talk, D=Discussion).
                 And 'Waiting' means that the participant's talk and poster are not yet validated (otherwise it would be written 'Accepted' instead). If you see 'Not registered' it means that you have added one participant that has not yet gone through the abstract submission process. By clicking on this button we can have more details on the person's participation(s) as described in the next step.</p>

            </div>
        <div id="step-5" class="tab-pane" role="tabpanel">
             <h3 style="text-align: center" class="mb-3">Validate/modify talks/posters</h3>
            <h5>Look for participant's details easily and change them if necessary</h5>
            <p>When clicking on the button that looks like that <a class="btn btn-info a-btn-slide-text py-0"><span class="fas fa-user" aria-hidden="true">Accepted (1)  T </span></a>, you can have information about the talk/poster or any type of participation that was submitted by a given participant. In the new window that it opens, you can change the person's rights and make them moderator, organizers, superusers, ...
                You can also change the type of participation, e.g., going from a talk to a poster or even edit their title or abstract if needed.</p>
            <p>In this window, you can also decide to make the access to the conference free for a given person (if it is a paying conference). </p>
            <p><strong>Always remember to click the <a class="btn btn-primary btn-upd py-0">Update your changing</a> button after any modification. </strong></p>
            <p>The most important button is <a class="btn btn-warning py-0">Validate this participation</a>, which you would click to accept the person's talk or poster. Once done, they do not receive an email (though they may see they accepted status in their 'My participation' page on the conference website if they happen to look) so you can still update it before finalizing the program and send a group email to all persons with, e.g., accepted talks when ready to officialize the decisions.</p>
            <p>When you validate a person's participation, it automatically adds them to the dedicated private rooms in the chat area.</p>
             <p><strong>Important 1:</strong> If you want a person to have access to the admin panel, you need to change their role to 'superuser' (this person will then have all the rights you have as well, e.g., delete the conference - so be cautious).</p>
             <p><strong>Important 2:</strong> If you want a person to be able to chair a session during the conference (which superusers and organizers can do by default), you need to change their role to 'moderator'.</p>
             <p><strong>Important 3:</strong> Do not forget to select the status of Organizer or Program committee member when it is appropriate. These persons will then be mentioned on the conference website.</p>
             <p><strong>Important TIP:</strong> You can validate many participants at once by checking the boxes to the left on their names and then clicking <a class="btn btn-info a-btn-slide-text"><span class="glyphicon glyphicon-chevron-right py-0" aria-hidden="true"></span><span><strong>Validate the participations of selected persons</strong></span></a>.</p>

         </div>
     </div>
 </div>
