
                     <div id="smartwizardweb">
                         <ul class="nav">
                             <li><a class="nav-link" href="#step-0">Step 0<br /><small>Important</small></a></li>
                             <li><a class="nav-link" href="#step-1">Step 1<br /><small>Main content</small></a></li>
                             <li><a class="nav-link" href="#step-2">Step 2<br /><small>Customize</small></a></li>
                             <li><a class="nav-link" href="#step-3">Step 3<br /><small>Tips</small></a></li>
                             <li><a class="nav-link" href="#step-4">Step 4<br /><small>Web Pages</small></a></li>
                             <li><a class="nav-link" href="#step-5">Step 5<br /><small>Timezone</small></a></li>
                         </ul>
                         <div class="tab-content">
                             <div id="step-0" class="tab-pane" role="tabpanel">
                                 <h3 style="text-align: center" class="mb-3">Important</h3>

                                 <h5>It is recommended that you read all information here at least once before creating your website!</h5>
                                 <p>If you are going to host a large conference or a small meeting, you'd like to be able to advertize it. You can do
                                 so by creating your conference website in this tab. This is the place where your participants will find about
                                     the conference topic, the dates, the program, the abstracts, the posters, the invited speakers, the organizers, ...
                                 This is also where they will need to go to submit their participations (e.g., talk, poster, attendance only). The conference website can be created
                                 in one click and personalized to your tastes by changing the colors, adding a logo, updating the text, add twitter/facebook interfaces, ...</p>
                                </div>
                             <div id="step-1" class="tab-pane" role="tabpanel">
                                 <h3 style="text-align: center" class="mb-3">Main content</h3>
                                     <h5>Fill out the most important bits first</h5>
                                 <p>You can just fill out the 3 sections below first and then create your conference website, which you can improve along the way by a trial and error approach.</p>
                                <p>When clicking on <a class="btn btn-info py-0">Create Conference Website</a>, the fields you filled out will be saved and the website will become accessible from the exterior, though the right url is required to find it.</p>
                                <p>We suggest to pre-fill the important fields and submit a first version of the website to then make it better once you see what it looks like.</p>
                                 <p>The important fields that you do not want to get wrong and fill out first are:</p>
                                 <p style="text-align: left"><strong>Text for the homepage:</strong> This is the main text that participants will see first when landing on your conference website's homepage. You can welcome your participants, and remind them about the topic (mini-abstract) and important dates.</p>
                                 <p style="text-align: left"><strong>Rationale of your conference:</strong> This should be a long detailed summary of what your conference is about (e.g., the different topics it will tackle and why).</p>
                                 <p style="text-align: left"><strong>Guidelines for your participants:</strong> This will also be on the homepage at the bottom of it. It is a section dedicated to participants and what they should do to e.g., submit a talk, what the deadlines are, whether they should pay anything, ... You could also link to important documents and/or websites there. Reading this part, participants should know what to do next.</p>

                                 <p>Once your conference website is created, you can access it by clicking the <a class="btn btn-warning py-0">See the conference website</a> button.</p>
                                 <p>You will then have the default set of colors and choices, which can all be changed (see next).</p>
                             </div>
                             <div id="step-2" class="tab-pane" role="tabpanel">
                                 <h3 style="text-align: center" class="mb-3">Customize</h3>
                                 <h5>You can customize your website to personalize it with your own colors, logo, and more.</h5>
                                 <p>Now that you have created your website you can play around with the Background color, Text color, and Menu color and find the right set that matches your personality or your organization/brand colors!</p>
                                     <p>Do not forget that for changes to be accounted for, you have to click the <a class="btn btn-info py-0">Update Conference Website</a> button.</p>
                                 <p> There are a few more things you can do by ticking the following checkboxes (by default they are not ticked):</p>
                                 <p style="text-align: left"><strong>Program ready to be displayed on the conference website?:</strong> Tick this box if you want participants to see the program on your website (once you estimate that it is in a right shape, even if not complete yet).</p>
                                 <p style="text-align: left"><strong>Program showed only to validated participants?:</strong> Tick the box if the program should only be shown to accepted participants.</p>
                                 <p style="text-align: left"><strong>Abstracts showed only to validated participants?:</strong> Tick the box if the accepted talks should only be shown to accepted participants.</p>
                                 <p style="text-align: left"><strong>Posters showed only to validated participants?:</strong> Tick the box if the accepted posters should only be shown to accepted participants.</p>
                                 <p style="text-align: left"><strong>Show the twitter and facebook share buttons at the bottom of the conference website?:</strong> If ticked, participants will be able to click on both a facebook and a twitter button on your website to share the conference across the two platforms easily, which may enhance its visibility.</p>

                             </div>
                             <div id="step-3" class="tab-pane" role="tabpanel">
                                 <h3 style="text-align: center" class="mb-3">A few things to know - tips and tricks</h3>
                                 <h5>Know more about what's going on in the background and use our few tips.</h5>
                                 <p>Once the website is created it will remain open for at least a year if not asked to be removed earlier.</p>
                                 <p>Note that participants can log-in on the created website and have different rights whether they are accepted to participate to the conference or not. When logged-in they can submit participations and see what they have submitted in the past and check their talk's status or change their poster/abstract/title, ...</p>
                                 <p>The website it creates is made of more than 10 pages (see next section) and is quite complex as it handles different rights for different participants. Moreover, when talks or posters
                                     are accepted in the admin panel by organizers they appear straight away on the conference website! Note that if it is mentioned as an invited talk, it will be mentioned as so and will be highlighted in red, and the invited participants appear first in a dedicated area in the participants area on the website!</p>
                                 <p>If you record the talks, a new section will be added to the conference website when the conference starts and talks will become available when the first day is over once you click the 'import my recordings' button (go to the top menu of CarbonFreeConf and click 'Archive' and then 'Handle my archived videos').</p>
                                 <p>The logo of the website is the same as the conference logo that you can upload in the 'Conference details' tab.</p>
                                 <p>The 'Abstract deadline for participants' that you entered in the 'Conference details' tab will be used on your conference website and the abstract submission part will be closed after this date.</p>
                                 <p>When the participants log-in, they can deposit their posters or poster/talk recordings on the conference website in the 'My participations' page. They can also add a document (e.g., a paper or slides) that organizers can then see in the admin panel.</p>
                                 <p>Conferences with parallel sessions will have one website for the master conference (plenaries) and one website for each session that will describe it and will allow participants to register to each of them individually.
                                     However, we give the opportunity to register in 'attendance only' from one session to all others, which can be super-handy because otherwise participants would have to visit all the different websites. However, if organizers choose that participants accepted in one session can access to all others then participants do not need to do that (but doing so will give them access to the chat groups dedicated to these sessions).</p>
                                 </div>
                             <div id="step-4" class="tab-pane" role="tabpanel">
                                 <h3 style="text-align: center" class="mb-3">Several Web Pages accessible on the conference website</h3>
                                <h5>Here, we give a brief description of the pages that will appear on the created website.</h5>
                                 <p style="text-align: left"><strong>Home:</strong> This is the homepage of the conference showing the conference title as well as a few important bits and buttons.</p>
                                 <p style="text-align: left"><strong>Rationale:</strong> This page gives an overview of what the conference is about (topics, main questions to solve, ...)</p>
                                 <p style="text-align: left"><strong>Participate:</strong> This is the page where participants should come to submit an abstract to your conference.</p>
                                 <p style="text-align: left"><strong>Participants:</strong> All the accepted participants are listed here (and can be contacted via a private secured area).</p>
                                 <p style="text-align: left"><strong>Program:</strong> This is the page that displays your conference program.</p>
                                 <p style="text-align: left"><strong>Abstracts:</strong> This page shows the accepted talks and provides a link to download the abstract book. </p>
                                 <p style="text-align: left"><strong>Posters:</strong> This page shows the accepted posters. </p>
                                 <p style="text-align: left"><strong>Dates:</strong> It shows the starting and ending times of the conference as well as its total duration. </p>
                                 <p style="text-align: left"><strong>Organizers:</strong> This page lists all organizers.</p>
                                 <p style="text-align: left"><strong>Contact:</strong> This page lists the main organizers (superusers) and allows to contact them all (and the program committee members as well) or individually. </p>
                                 <p style="text-align: left"><strong>Recordings:</strong> This page will appear only after the conference starts and this is where recorded talks will be accessible to participants (or publicly if organizers decide).</p>
                                 <p style="text-align: left"><strong>Join the conference:</strong> This is accessible in the menu or via a button on the homepage and leads to the virtual room!</p>
                                 <p style="text-align: left"><strong>Log-in/Logout:</strong> Click Log-in to sign-in (or to register if participants do not have a CarbonFreeConf account yet) and Logout to sign-out.</p>
                                 <p style="text-align: left"><strong>My Participation(s):</strong> This page is for participants who have submitted a talk/poster/attendance only. They can use this page to see the status of their talks, ..., and deposit documents/posters/recordings.</p>
                                 <p style="text-align: left"><strong>See Admin Panel:</strong> If you are a superuser with access to the admin panel, you will see this link, which will lead you to the admin area.</p>
                                 <p style="text-align: left"><strong>Access chat room:</strong> This leads to the chat room area where participants can access different private and public rooms.</p>
                                </div>
                            <div id="step-5" class="tab-pane" role="tabpanel">
                                 <h3 style="text-align: center" class="mb-3">Timezone</h3>
                                <h5>All dates and times will appear in the local timezone of participants</h5>
                                <p>We take advantage of using virtual tools to display all the dates and times that appear on the conference website in the local timezones of users. No more calculation to know what time this specific talk will start, it is already calculated for you, whether you are in Brazil or Japan...</p>
                                <p>If it is more convenient to see the program in a certain timezone (and not the local), then participants can go to the bottom of the program area on the conference website and specify the timezone they want.</p>

                             </div>
                         </div>
                     </div>
