{% extends 'base.html' %}
{% load static %}

{% block title %} Privacy policy of the virtual conference company CarbonFreeConf {% endblock title %}
{% block extra_head_tags %}
  <meta name="description" content="Find out about our privacy policy when creating a research conference on our virtual platform." />
{% endblock %}

{% block header_class %}{% endblock %}

{% block content %}

<main class="guidelines">

  <section>
    <h1>Privacy Policy</h1>
    <ol>
      <li>
        <h2>Introduction</h2>
        <ol>
          <li>We are committed to safeguarding the privacy of our website visitors and service users.</li>
          <li>This policy applies where we are acting as a data controller with respect to the personal data of our website visitors and service users; in other words, where we determine the purposes and means of the processing of that personal data.</li>
          <li>We use cookies on our website. Insofar as those cookies are not strictly necessary for the provision of our website and services, we will ask you to consent to our use of cookies when you first visit our website.</li>
          <li>In this policy, "we", "us" and "our" refer to <em>CarbonFreeConf</em>. For more information about us, see Section 13.</li>
        </ol>
      </li>
      <li>
        <h2>Credit</h2>
        <ol>
          <li>This document was created using a template from SEQ Legal (<a target="_blank" rel="noopener" href="https://seqlegal.com/free-legal-documents/privacy-policy">https://seqlegal.com/free-legal-documents/privacy-policy</a>).</li>
        </ol>
      </li>
      <li>
        <h2>How we use your personal data</h2>
        <ol>
          <li>In this Section 3 we have set out:
            <ol>
              <li>the general categories of personal data that we may process;</li>
              <li>in the case of personal data that we did not obtain directly from you, the source and specific categories of that data;</li>
              <li>the purposes for which we may process personal data;</li>
              <li>the legal bases of the processing.</li>
            </ol>
          </li>
          <li>We may process data about your use of our website and services ("<dfn>usage data</dfn>"). The usage data may include your IP address, geographical location, browser type and version, operating system, referral source, length of visit, page views and website navigation paths, as well as information about the timing, frequency and pattern of your service use. The source of the usage data is our analytics tracking system. This usage data may be processed for the purposes of analysing the use of the website and services. The legal basis for this processing is our legitimate interests, namely monitoring and improving our website and services.</li>
          <li>We may process your website user account data ("<dfn>account data</dfn>"). The account data may include your name and email address. The source of the account data is you or your employer. The account data may be processed for the purposes of operating our website, providing our services, ensuring the security of our website and services, maintaining back-ups of our databases and communicating with you. The legal basis for this processing is our legitimate interests, namely the proper administration of our website and businesss.</li>
          <li>We may process information that you post for publication on our website or through our services ("<dfn>publication data</dfn>"). The publication data may be processed for the purposes of enabling such publication and administering our website and services. The legal basis for this processing is our legitimate interests, namely the proper administration of our website and business.</li>
          <li>We may process information contained in any enquiry you submit to us regarding goods and/or services ("<dfn>enquiry data</dfn>"). The enquiry data may be processed for the purposes of offering, marketing and selling relevant goods and/or services to you. The legal basis for this processing is our legitimate interests, namely the proper administration of our website and business.</li>
          <li>We may process information relating to transactions, including purchases of goods and/or services, that you enter into with us and/or through our website ("<dfn>transaction data</dfn>"). The transaction data may include your contact details, your card details and the transaction details. The source of the transaction data is you and/or our payment services provider. The transaction data may be processed for the purpose of supplying the purchased goods and/or services and keeping proper records of those transactions. The legal basis for this processing is the performance of a contract between you and us and/or taking steps, at your request, to enter into such a contract; providing that, if you are not the person contracting with us, the legal basis for this processing is our legitimate interests, namely the proper administration of our website and business.</li>
          <li>We may process any of your personal data identified in this policy where necessary for the purposes of obtaining or maintaining insurance coverage, managing risks, or obtaining professional advice. The legal basis for this processing is our legitimate interests, namely the proper protection of our business against risks.</li>
          <li>In addition to the specific purposes for which we may process your personal data set out in this Section 3, we may also process any of your personal data where such processing is necessary for compliance with a legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another natural person.</li>
          <li>Please do not supply any other person's personal data to us, unless we prompt you to do so.</li>
        </ol>
      </li>
      <li>
        <h2>Providing your personal data to others</h2>
        <ol>
          <li>We may disclose your personal data to our insurers and/or professional advisers insofar as reasonably necessary for the purposes of obtaining or maintaining insurance coverage, managing risks, obtaining professional advice, or the establishment, exercise or defence of legal claims, whether in court proceedings or in an administrative or out-of-court procedure.</li>
          <li>Your personal data held in our website database will be stored on the servers of our hosting services providers identified at heroku.com.</li>
          <li>In addition to the specific disclosures of personal data set out in this Section 4, we may disclose your personal data where such disclosure is necessary for compliance with a legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another natural person. We may also disclose your personal data where such disclosure is necessary for the establishment, exercise or defence of legal claims, whether in court proceedings or in an administrative or out-of-court procedure.</li>
        </ol>
      </li>
      <li>
        <h2>International transfers of your personal data</h2>
        <ol>
          <li>In this Section 5, we provide information about the circumstances in which your personal data may be transferred to countries outside the European Economic Area (EEA).</li>
          <li>The hosting facilities for our website are situated in the countries where heroku.com stores its data. The European Commission has made an "adequacy decision" with respect to the data protection laws of each of these countries. Transfers to each of these countries will be protected by appropriate safeguards, namely the use of standard data protection clauses adopted or approved by the European Commission.</li>
          <li>The video conference hosting service</em> is situated in countries for which the European Commission has made an "adequacy decision" with respect to the data protection laws of each of these countries. Transfers to each of these countries will be protected by appropriate safeguards, namely the use of standard data protection clauses adopted or approved by the European Commission.</li>
          <li>You acknowledge that personal data that you submit for publication through our website or services may be available, via the internet, around the world. We cannot prevent the use (or misuse) of such personal data by others.</li>
        </ol>
      </li>
      <li>
        <h2>Retaining and deleting personal data</h2>
        <ol>
          <li>This Section 6 sets out our data retention policies and procedure, which are designed to help ensure that we comply with our legal obligations in relation to the retention and deletion of personal data.</li>
          <li>Personal data that we process for any purpose or purposes shall not be kept for longer than is necessary for that purpose or those purposes.</li>
          <li>We will retain your personal data as follows:<br />
            (a) usage data will be retained for a minimum period of 1 hour following the date of collection, and for a maximum period of <em>10 days</em> following that date;<br />
            (b) account data will be retained for a minimum period of <em>1 s</em> following the date of closure of the relevant account, and for a maximum period of <em>1 month</em> following that date;<br />
            (c) publication data will be retained for a minimum period of <em>1 s</em> following the date when the relevant publication ceases to be published on our website or through our services, and for a maximum period of <em>1 month</em> following that date;<br />
            (d) enquiry data will be retained for a minimum period of <em>2 months</em> following the date of the enquiry, and for a maximum period of <em>1 yr</em> following that date;<br />
            (e) transaction data will be retained for a minimum period of <em>2 months</em> following the date of the transaction, and for a maximum period of <em>1 yr</em> following that date;<br />
            (f) notification data will be retained for a minimum period of <em>1 s</em> following the date that we are instructed to cease sending the notifications, and for a maximum period of <em>10 days</em> following that date (providing that we will retain notification data insofar as necessary to fulfil any request you make to actively suppress notifications).
          </li>
          <li>Notwithstanding the other provisions of this Section 6, we may retain your personal data where such retention is necessary for compliance with a legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another natural person.</li>
        </ol>
      </li>
      <li>
        <h2>Your rights</h2>
        <ol>
          <li>In this Section 7, we have listed the rights that you have under data protection law.</li>
          <li>Your principal rights under data protection law are:<br />
            (a) the right to access - you can ask for copies of your personal data;<br />
            (b) the right to rectification - you can ask us to rectify inaccurate personal data and to complete incomplete personal data;<br />
            (c) the right to erasure - you can ask us to erase your personal data;<br />
            (d) the right to restrict processing - you can ask us to restrict the processing of your personal data;<br />
            (e) the right to object to processing - you can object to the processing of your personal data;<br />
            (f) the right to data portability - you can ask that we transfer your personal data to another organisation or to you;<br />
            (g) the right to complain to a supervisory authority - you can complain about our processing of your personal data;<br />
            (h) the right to withdraw consent - to the extent that the legal basis of our processing of your personal data is consent, you can withdraw that consent.<br />
          </li>
          <li>These rights are subject to certain limitations and exceptions. You can learn more about the rights of data subjects by visiting <a target="_blank" rel="noopener" href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/">https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/</a>.</li>
          <li>You may exercise any of yourrights in relation to your personal data by written notice to us, using the contact details set out below.</li>
        </ol>
      </li>
      <li>
        <h2>About cookies</h2>
        <ol>
          <li>A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.</li>
          <li>Cookies may be either "persistent" cookies or "session" cookies: a persistent cookie will be stored by a web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed.</li>
          <li>Cookies do not typically contain any information that personally identifies a user, but personal data that we store about you may be linked to the information stored in and obtained from cookies.</li>
        </ol>
      </li>
      <li>
        <h2>Cookies that we use</h2>
        <ol>
          <li>We use cookies for the following purposes:<br />
            (a) authentication and status - we use cookies to identify you when you visit our website and as you navigate our website, and to determine if you are logged into the website (cookies used for this purpose are: <em>session cookies</em>);<br />
            (b) security - we use cookies as an element of the security measures used to protect
            user accounts, including preventing fraudulent use of login credentials, and to protect our website and services generally (cookies used for this purpose are: <em>session cookies</em>);<br />
            (c) analysis - we use cookies to help us to analyse the use and performance of our website and services (cookies used for this purpose are: <em>permanent cookies</em>);<br />
            (d) cookie consent - we use cookies to store your preferences in relation to the use of cookies more generally (cookies used for this purpose are: <em>permanent cookies</em>).<br />
          </li>
        </ol>
      </li>
      <li>
        <h2>Cookies used by our service providers</h2>
        <ol>
          <li>Our service providers use cookies and those cookies may be stored on your computer when you visit our website.</li>
          <li>We use Google Analytics. Google Analytics gathers information about the use of our website by means of cookies. The information gathered is used to create reports about the use of our website. You can find out more about Google's use of information by visiting <a target="_blank" rel="noopener" href="https://www.google.com/policies/privacy/partners/">https://www.google.com/policies/privacy/partners/</a> and you can review Google's privacy policy at <a target="_blank" rel="noopener" href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>. The relevant cookies are: <em>permanent and session cookies</em>.</li>
          <li>We use <em>BigMarker</em> as a conference room provider. You can view the privacy policy of this service provider at <a target="_blank" rel="noopener" href="https://www.bigmarker.com/privacy">https://www.bigmarker.com/privacy</a>.</li>
        </ol>
      </li>
      <li>
        <h2>Managing cookies</h2>
        <ol>
          <li>Most browsers allow you to refuse to accept cookies and to delete cookies. The methods for doing so vary from browser to browser, and from version to version. You can however obtain up-to-date information about blocking and deleting cookies via these links:<br />
          (a) <a target="_blank" rel="noopener" href="https://support.google.com/chrome/answer/95647">https://support.google.com/chrome/answer/95647</a> (Chrome);<br />
          (b) <a target="_blank" rel="noopener" href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences</a> (Firefox);<br />
          (c) <a target="_blank" rel="noopener" href="https://help.opera.com/en/latest/security-and-privacy/">https://help.opera.com/en/latest/security-and-privacy/</a> (Opera);<br />
          (d) <a target="_blank" rel="noopener" href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies">https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies</a>
          (Internet Explorer);<br />
          (e) <a target="_blank" rel="noopener" href="https://support.apple.com/en-gb/guide/safari/manage-cookies-and-website-data-sfri11471/mac">https://support.apple.com/en-gb/guide/safari/manage-cookies-and-website-data-sfri11471/mac</a> (Safari);<br />
          (f) <a target="_blank" rel="noopener" href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy">https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy</a> (Edge).<br />
          </li>
          <li>Blocking all cookies will have a negative impact upon the usability of many websites.</li>
          <li>If you block cookies, you will not be able to use all the features on our website.</li>
        </ol>
      </li>
      <li>
        <h2>Amendments</h2>
        <ol>
          <li>We may update this policy from time to time by publishing a new version on our website.</li>
          <li>You should check this page occasionally to ensure you are happy with any changes to this policy.</li>
          <li>We may notify you of significant changes to this policy by email.</li>
        </ol>
      </li>
      <li>
        <h2>Our details</h2>
        <ol>
          <li>This website is owned and operated by <em>CarbonFreeConf</em>.</li>
          <li>We are registered in France under registration number <em>895 105 955</em>, and our registered office is at <em>Courçon</em>.</li>
          <li>Our principal place of business is at <em>3 bis rue de la Garenne, 17170, Courçon, France</em>.</li>
          <li>You can contact us:<br />
            (a) by post, by telephone, via our contact form, on the contact number published on our website; or<br />
            (b) by email, using the email address published on our website.<br />
          </li>
        </ol>
      </li>
      <li>
        <h2>Data protection officer</h2>
        <ol>
          <li>Our data protection officer's contact details are: <a href="mailto:admin@carbonfreeconf.com">admin@carbonfreeconf.com</a>.</li>
        </ol>
      </li>
    </ol>
    <div class="buttons-group">
      <a href="{% url 'my_app:terms' %}">
        <button class="btn">Read About our Terms and Conditions</button>
      </a>
      <a href="{% url 'my_app:legalnotice' %}">
        <button class="btn alt">Read About our Legal Notice</button>
      </a>
    </div>
  </section>

</main>

{% endblock %}