{% extends 'base.html' %}

{% block title %} Terms and conditions of CarbonFreeConf.com {% endblock title %}
{% block extra_head_tags %}
        <meta name="description" content="Find out about the terms & conditions to organize a research meeting with us." />
    {% endblock %}
{% block content %}

<div class="container">
    <div class="jumbotron mt-4">
      <h1 class="display-4">Terms and Conditions of Sale</h1>
      <p class="lead">
        <p><i>In English (and then in <a href="#french">French</a>)</i></p>

        <p><strong>1. About us</strong></p>
        <p>The Company CarbonFreeConf, SASU, with a capital of 300 euros, whose registered office is in COURCON (17170) 3 bis rue de la Garenne, registered in the trade and companies register of LA ROCHELLE under the number 895105955 represented by Mr Patrick KRAL (hereinafter the "Company"). The Company offers the following services: provision of virtual conferences.</p>

<p><strong>2. Preamble</strong></p>
<p>These General Conditions of Sale and Use (hereinafter the "GCS / GCU") constitute the sole basis of the commercial relationship between the parties.
They govern the conditions under which the Company provides its Services to its customers who request them directly or online.
They apply to all Services provided by the Company for all clients in the same category, regardless of any clauses that may appear in a client's document, in particular its general terms of purchase.
They are systematically communicated to the client who requests them. Any order implies acceptance of the GCS.
The data recorded in the Company's computer system constitutes proof of the transactions concluded with the Client.
</p>

<p><strong>3. Definitions</strong></p>
<p>"Client" means any person who places an order by direct contact or online;</p>
<p>"Order" means any order placed by the Client with a view to benefiting from the Company's services;</p>
<p>"General Terms and Conditions of Sale or GCS" means this document;</p>
<p>"Consumer" refers to the buyer who is a person and is not acting in a professional capacity;</p>
<p>"Professional" refers to the buyer who is a natural or legal person acting in the context of his professional activity;</p>
<p>"Services" means all the services offered by the Company;</p>
<p>"Company" means the company CARBONFREECONF, more fully described in Article I hereof.</p>
<p>"Site" means this Site, i.e. www.carbonfreeconf.com;</p>
<p>"User" means any person who uses the Site.</p>



<p><strong>4. Orders</strong></p>
<p>Orders are placed by the Client by direct contact or online.
Sales of Services are made after a quotation has been drawn up for the Client, the quotation has been accepted by the Client and the Order has been expressly accepted by the Company.
The registration of an Order on the Web Site is completed when the Client accepts the GCS by ticking the box provided for this purpose and validates the Order. This validation constitutes proof of the sales contract. Completion of the Order implies acceptance of the prices and terms and conditions of the services as indicated on the Web Site.
Once the Order has been placed, the Client will receive confirmation by e-mail. This confirmation will summarise the Order and the information relating to the provision of the service(s).
In the event of non-payment, incorrect address or any other problem with the Client's account, the Company reserves the right to block the Client's order until the problem is resolved. In the event that it is impossible to carry out the service, the Client will be informed by e-mail to the address provided to the Company. In this case, the order for this service will be cancelled and reimbursed, the rest of the order remaining firm and definitive.
In the event of cancellation of an Order accepted by the Company less than 5 days before the date on which the Service is due to be provided for reasons other than force majeure, the Company reserves the right to retain 10% of the amount of the Order inclusive of tax as compensation for the loss suffered.
</p>
<p><strong>5. Service provision and prices</strong></p>
<p>The prices are those in force on the day the Order is placed, as set out online or on the quote provided to the Client. The prices are inclusive of all taxes.
For each Order, an invoice is issued by the Company to the Client.
The Company may grant the Client price reductions, discounts and rebates depending on the number of Services ordered or on the regularity of the Orders, in accordance with the conditions set by the Company.
Under no circumstances may a User demand the application of discounts that were no longer in force on the day of the Order.
</p>

<p><strong>6. Payment terms and conditions</strong></p>
<p>Unless otherwise agreed, all sales shall be paid for in full at the time the Order is placed.</p>

<p>Depending on the nature or amount of the Order, the Company shall be free to require a deposit or payment of the full price when the Order is placed or when the invoice is received.
Payment may be made by : Bank transfer or Credit card.
</p>
<p>In the event of non-payment of all or part of the services by the date agreed on the invoice, the purchaser shall pay the Company a late payment penalty equal to the rate applied by the European Central Bank for its refinancing operation plus 10 percentage points.
The financing operation chosen shall be the most recent on the date of the order for the services.
This penalty shall be calculated on the amount of the remaining sum due, including all taxes, and shall run from the due date of the price without any prior notice of default being required.
In addition to the late payment penalties, any sum, including the deposit, not paid on the due date shall automatically give rise to the payment of a fixed penalty of 40 euros due for collection costs.
No compensation may be made by the Client between penalties for delay in the provision of the services ordered and sums owed by the Client to the Company for the purchase of Services.
The penalty due by the Client, whether Professional or Consumer, is calculated on the amount, including all taxes, of the remaining sum due, and runs from the due date of the price without any prior notice of default being necessary.
In the event of non-compliance with the payment conditions described above, the Company reserves the right to cancel or suspend the sale.
</p>

<p><strong>7. Performance of the services</strong></p>
<p>The Service ordered will be provided by :</p>
<p>The Company</p>
<p>The Company undertakes to comply as best it can with the deadlines announced when the Order was placed. However, the Company shall not be held responsible for any delays in the performance of the Service caused by faults that are not attributable to it.
The Company shall not be held liable for delays caused by reasons of force majeure, i.e. due to the occurrence of an unforeseeable, irresistible event beyond the Company's control. If the services have not been carried out within the period provided for, the Client may request the cancellation of the sale under the conditions provided for in Articles L216-2 and L216-3 of the Consumer Code. The sums paid by the Customer shall be returned to him at the latest within fourteen days following the date of cancellation of the contract.
This provision does not apply when the Company's delay is due to a fault on the part of the Client or to a case of force majeure.
</p>

<p><strong>8. Complaints</strong></p>
<p>For all orders placed, the Client has a right of complaint of 7 days from the date of delivery of the Service.
In order to exercise this right of complaint, the Client must send a statement to the Company, at sales@carbonfreeconf.com, in which they express their reservations and complaints, together with the relevant supporting documents.
A claim that does not comply with the conditions described above cannot be accepted.
The Company will refund and rectify the Service as soon as possible and at its own expense, within the limits of what is possible.
</p>

<p><strong>9. The Consumer's right of withdrawal</strong></p>
<p>The Consumer has a right of withdrawal of 14 days as from the placing of the Order, except for the products mentioned in article L. 221-28 of the Consumer Code as reproduced below:</p>
<p>"The right of withdrawal cannot be exercised for contracts :</p>
<p>1° For the supply of services fully performed before the end of the withdrawal period and whose performance has begun after the consumer's express prior agreement and express waiver of his right of withdrawal ;</p>
<p>2° the supply of goods or services whose price depends on fluctuations in the financial market beyond the trader's control and which may occur during the withdrawal period</p>
<p>3° the supply of goods made to the consumer's specifications or clearly personalised</p>
<p>4° the supply of goods which are likely to deteriorate or expire rapidly</p>
<p>5° the supply of goods which have been unsealed by the consumer after delivery and which cannot be returned for reasons of hygiene or health protection</p>
<p>6° the supply of goods which, after delivery, are by their nature inseparably mixed with other articles</p>
<p>7° the supply of alcoholic beverages the delivery of which is deferred for more than thirty days and the value of which agreed upon at the conclusion of the contract depends on fluctuations in the market which are beyond the control of the trader</p>
<p>8° maintenance or repair work to be carried out urgently at the consumer's home and expressly requested by the consumer, within the limits of spare parts and work strictly necessary to meet the emergency</p>
<p>9° the supply of audio or video recordings or computer software when they have been unsealed by the consumer after delivery</p>
<p>10° the supply of a newspaper, periodical or magazine, except for contracts for subscriptions to such publications</p>
<p>11° Concluded at a public auction;</p>
<p>12° The provision of accommodation services, other than residential accommodation, transport services, car rental, catering or leisure activities that must be provided on a specific date or at a specific time;</p>
<p>13° The supply of digital content not provided on a tangible medium, the performance of which has begun after the consumer has given his prior express consent and expressly waived his right of withdrawal.
</p>
<p>To exercise this right of withdrawal, the Consumer sends a declaration to the address: sales@carbonfreeconf.fr.
They will be reimbursed for the totality of the fees paid for the provision of services within 14 days of the Company becoming aware of their declaration of withdrawal. The refund will be made by the same means of payment as the one used for the purchase.
However, if the service has already begun on the date the Company becomes aware of the withdrawal, the value of the service already provided will be deducted from the refund.
</p>
<p><strong>10. Processing of personal data</strong></p>
<p>The purchase by the Client may involve the processing of their personal data. If the Client refuses the processing of their data, they are requested to refrain from using the Company's services.
This processing of personal data is done in compliance with the General Data Protection Regulation 2016/679 of 27 April 2016.
In addition, in accordance with the French Data Protection Act of 6 January 1978, the Client has the right, at any time, to query, access, rectify, modify and object to all of their personal data by writing, by post and providing proof of their identity, to the following address: sales@carbonfreeconf.com.
This personal data is necessary for the processing of the Order and the preparation of invoices, if applicable, as well as for the improvement of the services offered by the Company.
</p>
<p><strong>11. Data protection</strong></p>
<p>The Company ensures an appropriate level of security proportionate to the risks incurred as well as their probability, in accordance with the General Data Protection Regulation 2016/679 of 27 April 2016.
However, these measures do not constitute a guarantee and do not commit the Company to an obligation of result regarding data security.
</p>
<p><strong>12. Modifications</strong></p>
<p>The Company reserves the right to modify the Site, the services offered on it, the GCS/GCU and any payment procedure or other element of the services provided by the Company via the Site.
When placing an Order, the User is subject to the provisions set out in the GCS/GCU in force at the time the Order is placed.
</p>

<p><strong>13. Jurisdiction clause</strong></p>
<p>The law governing the GCS shall be French law. Any dispute that may arise between the Company and a Client during the performance of the GCS shall be subject to an attempt at amicable resolution. Failing this, disputes will be referred to the competent courts under common law.
</p>
<p><strong>14. Acceptance by the Customer</strong></p>
<p>The Customer expressly accepts the GCS. They declare that they are aware of them and waives the right to invoke any other document, in particular their own general terms of purchase.
</p>
<p><strong>15. Intellectual property</strong></p>
<p>The brand, the logo and the graphic charter are brands whose property belongs exclusively to the Company. Any dissemination, exploitation, representation or reproduction, whether partial or complete, without the express authorisation of the aforementioned company will expose the offender to civil and criminal proceedings.
</p>
<p><strong>16. Registration</strong></p>
<p>Registration to the Site is open to all legal entities or individuals of legal age and enjoying their full personality and legal capacity.
The use of the Services offered on the Site is conditional on the User's registration on the Site. Registration is free of charge.
To register, the User must fill in all the mandatory fields, without which the service cannot be delivered. Otherwise, registration cannot be completed.
The Users guarantee and declare on their honour that all the information communicated on the Site, in particular at the time of their registration, is accurate and true. They undertake to update their personal information on the page dedicated to this information and available in their account.
All registered Users have a login and a password. These are strictly personal and confidential and may not be communicated to third parties under penalty of deletion of the account of the offending Registered User. Each Registered User is personally responsible for maintaining the confidentiality of their login and password. The Company will not be held responsible for the usurpation of a User's identity. If a User suspects fraud at any time, they must contact the Company as soon as possible so that the latter can take the necessary measures and regularise the situation.
Each User, whether a legal entity or an individual, may only hold one account on the Site.
In the event of non-compliance with the GCS/GCU, in particular the creation of several accounts for a single person or the provision of false information, the Company reserves the right to temporarily or permanently delete all accounts created by the offending registered User.
The deletion of the account will result in the permanent loss of all benefits and services acquired on the Site. However, any Orders placed and invoiced by the Site prior to the deletion of the account will be fulfilled under normal conditions.
In the event of deletion of an account by the Company for failure to comply with the duties and obligations set out in the GCS/GCU, the offending User is expressly prohibited from re-registering on the Site directly, via another email address or through an intermediary without the express permission of the Company.
</p>
<p><strong>17. Sharing of collected data</strong></p>
<p>The Site may have recourse to third-party companies to carry out certain operations. By browsing the Site, the Customer accepts that third-party companies may have access to their data to enable the proper functioning of the Site.
These third-party companies only have access to the data collected in order to carry out a specific task. The Site remains responsible for the processing of this data.
In addition, Customer information may be passed on to third parties without the Customer's express prior consent for the following purposes:
</p>
<p>-to comply with the law</p>
<p>-to protect any person from serious bodily harm or death</p>
<p>-to protect against fraud or harm to the Company or its users</p>
<p>-to protect the Company's property rights.</p>

<p><strong>18. Cookies</strong></p>
<p>To enable its Users to benefit from optimal browsing on the Site and better operation of the various interfaces and applications, the Company may place a cookie on the User's computer. This cookie allows the storage of information relating to navigation on the Site, as well as any data entered by Users (in particular searches, login, email, password).
The User expressly authorises the Company to place a "cookie" file on the User's hard disk.
The User has the possibility to block, modify the duration of conservation, or delete this cookie via the interface of his browser. If the systematic deactivation of cookies on the User's browser prevents him/her from using certain services or functionalities of the Site, this malfunctioning shall in no way constitute damage for the member, who shall not be entitled to claim any compensation as a result.
</p>
<p><strong>19. Liability</strong></p>
<p>The Company cannot be held responsible for the unavailability, whether temporary or permanent, of the Website and, although it makes every effort to ensure the service is always available, it may be interrupted at any time. In addition, the Company reserves the right to voluntarily make the Website unavailable in order to perform any updating, improvement or maintenance operation.
As previously mentioned herein, the Company cannot be held responsible for delays in the provision of a service for reasons that are beyond its control, independent of its will, unforeseeable and irresistible or whose fault cannot be attributed to it.
</p>

<p><strong>20. Pre-contractual information</strong></p>
<p>Prior to placing an Order, the Client acknowledges that they have been provided, in a legible and comprehensible manner, with the GCS/GCU and the information and details provided for in Articles L111-1 to L111-7 of the French Consumer Code, and in particular:</p>

<p>-the essential characteristics of the Services</p>
<p>-the price of the Services</p>
<p>-the date or deadline by which the Company undertakes to provide the Service</p>
<p>-information relating to the identity of the Company (postal and electronic address)</p>
<p>-information relating to the legal and contractual guarantees and their implementation procedures</p>
<p>-information relating to the right of withdrawal (time limit, procedures for exercising the right of withdrawal).</p>

        <p>Placing an Order on the Site implies acceptance of the GCS/GCU. The Client shall not be entitled to rely on a contradictory document.</p>



        <p><a name="french"><i>En Français</i></a></p>

        <p><strong>1. A propos de nous</strong></p>
        <p>La Société CarbonFreeConf, SASU, au capital de 300 euros, dont le siège social est à COURCON (17170) 3 bis rue de la Garenne, immatriculée au registre du commerce et des sociétés de LA ROCHELLE sous le numéro 895105955 représentée par Monsieur Patrick KRAL (ci-après la "Société”). La Société propose les services suivants : prestation de conférences virtuelles.</p>

        <p><strong>2. Préambule</strong></p>
<p>Les présentes Conditions générales de vente et d'utilisation (ci-après les "CGV/CGU") constituent le socle unique de la relation commerciale entre les parties.
Elles encadrent les conditions dans lesquelles la Société fournit ses Services à ses clients qui lui en font la demande par voie directe ou en ligne.
Elles s’appliquent à tous les Services fournis par la Société pour tous les clients d’une même catégorie, quelles que soit les clauses pouvant figurer sur un document du client, notamment ses conditions générales d’achat.
Elles sont communiquées systématiquement au client qui en fait la demande. Toute commande implique l’acceptation des CGV.
Les données enregistrées dans le système informatique de la Société constituent la preuve des transactions conclues avec le Client.
</p>

<p><strong>3. Définitions</strong></p>
<p>"Client" désigne toute personne qui passe une commande par contact direct ou en ligne ;</p>
<p>"Commande" désigne toute commande passée par le Client en vue de bénéficier des services de la Société ;</p>
<p>"Conditions Générales de Vente ou CGV" désignent le présent document ;</p>
<p>"Consommateur" désigne l'acheteur personne physique qui agit hors de son activité professionnelle ;</p>
<p>"Professionnel" désigne l'acheteur personne morale ou physique qui agit dans le cadre de son activité professionnelle ;</p>
<p>"Services" désigne toutes les prestations de service proposées par la Société ;</p>
<p>"Société" désigne la société CARBONFREECONF, plus amplement désignée à l'article I des présentes.</p>
<p>"Site" désigne le présent Site, c’est-à-dire www.carbonfreeconf.com ;</p>
<p>"Utilisateur" désigne toute personne qui fait utilisation du Site.</p>



<p><strong>4. Commandes</strong></p>
<p>Les Commandes sont passées par le Client par contact direct ou en ligne.
Les ventes de Services sont réalisées après établissement d’un devis à destination du Client, acceptation de ce devis par le Client et acceptation expresse de la Commande par la Société.
L'enregistrement d'une Commande sur le Site est réalisé lorsque le Client accepte les CGV en cochant la case prévue à cet effet et valide sa Commande. Cette validation constitue une preuve du contrat de vente. La finalisation de la Commande implique l'acceptation des prix et des modalités de réalisations des prestations telles qu'indiquées sur le Site.
Une fois sa Commande passée, le Client en recevra confirmation par courrier électronique. Cette confirmation fera le récapitulatif de la Commande et des informations relatives à la réalisation de la ou des prestations.
En cas de défaut de paiement, d'adresse erronée du Client ou autre problème sur le compte du Client, la Société se réserve le droit de bloquer la commande du Client jusqu'à ce que le problème soit résolu. En cas d'impossibilité de réaliser la prestation, le Client en sera informé par courrier électronique à l'adresse qu'il aura fournie à la Société. L'annulation de la commande de cette prestation et son remboursement seront dans ce cas effectués, le reste de la commande demeurant ferme et définitif.
En cas d’annulation d’une Commande acceptée par la Société moins de 5 jours avant la date prévue de fourniture du Service pour des raisons autres qu’un cas de force majeure, la Société se réserve le droit de conserver 10% du montant TTC de la Commande au titre des dommages et intérêts en réparation du préjudice subi.
</p>
<p><strong>5. Prestation de service et prix</strong></p>
<p>Les tarifs sont ceux en vigueur au jour de la passation de la Commande, tels qu’établis en ligne ou sur le devis fourni au Client. Les tarifs sont présentés toutes taxes comprises (TTC).
A chaque Commande, une facture est établie par la Société à destination du Client.
La Société pourra faire bénéficier le Client de réduction de prix, remises et rabais en fonction du nombre des Services commandés ou en fonction de la régularité des Commandes, selon les conditions fixées par elle.
En aucun cas un Utilisateur ne pourra exiger l’application de réductions n’étant plus en vigueur le jour de la Commande.
</p>

<p><strong>6. Délais et modalités de paiement</strong></p>
<p>Sauf dispositions contraires, toutes les ventes sont payées comptant au moment de la passation de la Commande.</p>

<p>En fonction de la nature ou du montant de la Commande, la Société reste libre d'exiger un acompte ou le paiement de l'intégralité du prix lors de la passation de la Commande ou lors de la réception de la facture.
Le paiement peut être réalisé par : Virement bancaire ou Carte bancaire.
</p>
<p>En cas de défaut de paiement total ou partiel des prestations à la date convenue sur la facture, l'acheteur devra verser à la Société une pénalité de retard dont le taux est égal au taux pratiqué par la Banque centrale européenne pour son opération de refinancement majoré de 10 points de pourcentage.
L'opération de financement retenue est la plus récente à la date de la commande des prestations de Service.
Cette pénalité est calculée sur le montant toutes taxes comprises (TTC) de la somme restante due, et court à compter de la date d'échéance du prix sans qu'aucune mise en demeure préalable ne soit nécessaire.
En sus des indemnités de retard, toute somme, y compris l’acompte, non payée à sa date d’exigibilité produira de plein droit le paiement d’une indemnité forfaitaire de 40 euros due au titre des frais de recouvrement.
Aucune compensation ne pourra être effectuée par le Client entre des pénalités de retard dans la fourniture des prestations commandées et des sommes dues par le Client à la Société au titre de l'achat de Services.
La pénalité due par le Client, Professionnel ou Consommateur, est calculée sur le montant toutes taxes comprises de la somme restante due, et court à compter de la date d'échéance du prix sans qu'aucune mise en demeure préalable ne soit nécessaire.
En cas de non-respect des conditions de paiement décrites ci-dessus, la Société se réserve la possibilité d'annuler ou de suspendre la vente.
</p>

<p><strong>7. Réalisation des prestations</strong></p>
<p>La prestation de Service commandée sera assurée par :</p>
<p>La Société</p>
<p>La Société s’engage à respecter au mieux les délais annoncés lors de la passation de la Commande. Cependant, elle ne peut en aucun cas être tenue responsable pour les retards de réalisation de prestation occasionnés en raison de fautes qui ne lui sont imputables.
La Société ne peut pas voir sa responsabilité engagée pour des délais provoqués pour des motifs de force majeure, c’est à dire en raison de la survenance d’un évènement imprévisible, irrésistible et indépendant de la volonté de la Société. Si les prestations n'ont pas été effectuées dans le délai prévu, la résolution de la vente pourra être demandée par le Client dans les conditions prévues aux articles L216-2 et L216-3 du Code de la consommation. Les sommes versées par le Client lui seront restituées au plus tard dans les quatorze jours qui suivent la date de dénonciation du contrat.
Cette disposition ne s'applique pas quand le retard de la Société est dû à une faute du Client ou à un cas de force majeure.
</p>

<p><strong>8. Réclamation</strong></p>
<p>Pour toutes les commandes réalisées, le Client dispose d’un droit de réclamation de 7 jours à compter de la fourniture du Service.
Pour exercer ce droit de réclamation, le Client doit faire parvenir à la Société, à l'adresse sales@carbonfreeconf.com une déclaration dans laquelle il exprime ses réserves et réclamations, assorties des justificatifs y afférents.
Une réclamation ne respectant pas les conditions décrites ci-dessus ne pourra être acceptée.
La Société remboursera et rectifiera le Service dans les plus brefs délais et à ses frais, dans les limites du possible.
</p>
<p><strong>9. Droit de rétractation du Consommateur</strong></p>
<p>Le Consommateur dispose d’un droit de rétractation de 14 jours à compter de la passation de la Commande, sauf pour les produits mentionnés à l'article L. 221-28 du Code de la consommation tel que reproduit ci-dessous :</p>
<p>"Le droit de rétractation ne peut être exercé pour les contrats :</p>
<p>1° De fourniture de services pleinement exécutés avant la fin du délai de rétractation et dont l'exécution a commencé après accord préalable exprès du consommateur et renoncement exprès à son droit de rétractation ;</p>
<p>2° De fourniture de biens ou de services dont le prix dépend de fluctuations sur le marché financier échappant au contrôle du professionnel et susceptibles de se produire pendant le délai de rétractation ;</p>
<p>3° De fourniture de biens confectionnés selon les spécifications du consommateur ou nettement personnalisés ;</p>
<p>4° De fourniture de biens susceptibles de se détériorer ou de se périmer rapidement ;</p>
<p>5° De fourniture de biens qui ont été descellés par le consommateur après la livraison et qui ne peuvent être renvoyés pour des raisons d'hygiène ou de protection de la santé ;</p>
<p>6° De fourniture de biens qui, après avoir été livrés et de par leur nature, sont mélangés de manière indissociable avec d'autres articles ;</p>
<p>7° De fourniture de boissons alcoolisées dont la livraison est différée au-delà de trente jours et dont la valeur convenue à la conclusion du contrat dépend de fluctuations sur le marché échappant au contrôle du professionnel ;</p>
<p>8° De travaux d'entretien ou de réparation à réaliser en urgence au domicile du consommateur et expressément sollicités par lui, dans la limite des pièces de rechange et travaux strictement nécessaires pour répondre à l'urgence ;</p>
<p>9° De fourniture d'enregistrements audio ou vidéo ou de logiciels informatiques lorsqu'ils ont été descellés par le consommateur après la livraison ;</p>
<p>10° De fourniture d'un journal, d'un périodique ou d'un magazine, sauf pour les contrats d'abonnement à ces publications ;</p>
<p>11° Conclus lors d'une enchère publique ;</p>
<p>12° De prestations de services d'hébergement, autres que d'hébergement résidentiel, de services de transport de biens, de locations de voitures, de restauration ou d'activités de loisirs qui doivent être fournis à une date ou à une période déterminée ;</p>
<p>13° De fourniture d'un contenu numérique non fourni sur un support matériel dont l'exécution a commencé après accord préalable exprès du consommateur et renoncement exprès à son droit de rétractation."</p>

<p>Pour exercer ce droit de rétractation, le Consommateur envoie une déclaration à l'adresse : sales@carbonfreeconf.fr.
Il sera remboursé de la totalité des frais versés pour la prestation de services dans les 14 jours suivant la prise de connaissance par la Société de sa déclaration de rétractation. Le remboursement sera fait par le même moyen de paiement que celui utilisé à l'achat.
Cependant, si la prestation de services est déjà entamée à la date de la prise de connaissance de la rétractation par la Société, la valeur correspondant à la prestation de service déjà effectuée sera déduite du remboursement.
</p>

<p><strong>10. Traitement des données personnelles</strong></p>
<p>L'achat par le Client peut entraîner le traitement de ses données à caractère personnel. Si le Client refuse le traitement de ses données, il lui est demandé de s'abstenir de recourir aux services de la Société.
Ce traitement des données à caractère personnel se fait dans le respect du Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016.
Par ailleurs, conformément à la loi Informatique et Libertés du 6 janvier 1978, le Client dispose, à tout moment, d'un droit d'interrogation, d'accès, de rectification, de modification et d'opposition à l'ensemble de ses données personnelles en écrivant, par courrier et en justifiant de son identité, à l'adresse suivante : sales@carbonfreeconf.com.
Ces données personnelles sont nécessaires au traitement de sa Commande et à l'établissement de ses factures le cas échéant, ainsi qu'à l'amélioration des services proposés sur la Société.
</p>
<p><strong>11. Protection des données</strong></p>
<p>La Société assure un niveau de sécurité approprié et proportionnel aux risques encourus ainsi qu'à leur probabilité, conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016.
Toutefois, ces mesures ne constituent en aucun cas une garantie et n'engagent pas la Société à une obligation de résultat concernant la sécurité des données.
</p>
<p><strong>12. Modifications</strong></p>
<p>La Société se réserve le droit de modifier le Site, les services qui y sont proposés, les CGV/CGU ainsi que toute procédure de payement ou autre élément constitutif des prestations réalisées par la Société par le biais du Site.
Lorsqu'il passe une Commande, l'Utilisateur est soumis aux stipulations énoncées par les CGV/CGU en vigueur lors de la passation de la Commande.
</p>

<p><strong>13. Clause attributive de compétence</strong></p>
<p>Le droit régissant les CGV est le droit français. Tout litige pouvant survenir entre la Société et un Client lors de l’exécution des CGV fera l’objet d’une tentative de résolution à l’amiable. A défaut, les litiges seront portés à la connaissance des tribunaux compétents de droit commun.
</p>
<p><strong>14. Acceptation du Client</strong></p>
<p>Le Client accepte expressément les CGV. Il déclare en avoir connaissance et renonce à se prévaloir de tout autre document, notamment ses propres conditions générales d'achat.
</p>
<p><strong>15. Propriété intellectuelle</strong></p>
<p>La marque, le logo et la charte graphique sont des marques dont la propriété revient exclusivement à la Société. Toute diffusion, exploitation, représentation, reproduction, qu’elle soit partielle ou intégrale sans l’autorisation expresse de ladite société exposera le contrevenant à des poursuites civiles et pénales.
</p>
<p><strong>16. Inscription</strong></p>
<p>L’inscription au Site est ouverte à toutes les personnes morales ou physiques majeures et jouissant de leurs pleines personnalités et capacités juridiques.
L’utilisation des Services proposés sur le Site est conditionnée à l’inscription de l’Utilisateur sur le Site. L’inscription est gratuite.
Pour procéder à l’inscription, l’Utilisateur doit remplir tous les champs obligatoires, sans lesquels le service ne peut être délivré. A défaut l’inscription ne pourra être complétée.
Les Utilisateurs garantissent et déclarent sur l'honneur que toutes les informations communiquées sur le Site, notamment lors de leur inscription, sont exactes et conformes à la réalité. Ils s’engagent à mettre à jour leurs informations personnelles à partir de la page dédiée à ces dernières et disponible dans leur compte.
Tout Utilisateur enregistré dispose d’un identifiant et d’un mot de passe. Ces derniers sont strictement personnels et confidentiels et ne devront en aucun cas faire l’objet d’une communication à des tiers sous peine de suppression du compte de l’Utilisateur enregistré contrevenant. Chaque Utilisateur inscrit est personnellement responsable du maintien de la confidentialité de son identifiant et de son mot de passe. La Société ne sera en aucun cas tenue pour responsable de l’usurpation d’identité d’un Utilisateur. Si un Utilisateur suspecte une fraude à n’importe quel moment, il devra contacter la Société dans les plus brefs délais afin que cette dernière puisse prendre les mesures nécessaires et régulariser la situation.
Chaque Utilisateur, qu’il soit une personne morale ou physique, ne peut être titulaire que d’un compte sur le Site.
En cas de non-respect des CGV/CGU, notamment la création de plusieurs comptes pour une seule personne ou encore la fourniture de fausses informations, la Société se réserve le droit de procéder à la suppression temporaire ou définitive de tous les comptes crées par l’Utilisateur enregistré contrevenant.
La suppression du compte entraîne la perte définitive de tous les avantages et services acquis sur le Site. Cependant, toute Commande réalisée et facturée par le Site avant la suppression du compte sera exécutée dans les conditions normales.
En cas de suppression d’un compte par la Société pour manquement aux devoirs et obligations énoncées dans les CGV/CGU, il est formellement interdit à l’Utilisateur contrevenant de se réinscrire sur le Site directement, par le biais d’une autre adresse électronique ou par personne interposée sans l’autorisation expresse de la Société.
</p>
<p><strong>17. Partage des données collectées</strong></p>
<p>Le Site peut avoir recours à des sociétés tierces pour effectuer certaines opérations. En naviguant sur le Site, le Client accepte que des sociétés tierces puissent avoir accès à ses données pour permettre le bon fonctionnement du Site.
Ces sociétés tierces n'ont accès aux données collectées que dans la cadre de la réalisation d'une tâche précise. Le Site reste responsable du traitement de ces données.
Par ailleurs, les informations des Clients pourront être transmises à des tiers sans leur accord express préalable afin d'atteindre les buts suivants :
</p>
<p>-respecter la loi</p>
<p>-protéger toute personne contre des dommages corporels graves, voire la mort</p>
<p>-lutter contre la fraude ou les atteintes portées à la Société ou à ses utilisateurs</p>
<p>-protéger les droits de propriété de la Société.</p>

<p><strong>18. Cookies</strong></p>
<p>Pour permettre à ses Utilisateurs de bénéficier d’une navigation optimale sur le Site et d’un meilleur fonctionnement des différentes interfaces et applications, la Société est susceptible d’implanter un cookie sur l’ordinateur de l’Utilisateur. Ce cookie permet de stocker des informations relatives à la navigation sur le Site, ainsi qu’aux éventuelles données saisies par les Utilisateurs (notamment recherches, login, email, mot de passe).
L’Utilisateur autorise expressément la Société à déposer sur le disque dur de l’utilisateur un fichier dit« cookie ».
L’Utilisateur dispose de la possibilité de bloquer, modifier la durée de conservation, ou supprimer ce cookie via l’interface de son navigateur. Si la désactivation systématique des cookies sur le navigateur de l’Utilisateur l’empêche d’utiliser certains services ou fonctionnalités du Site, ce dysfonctionnement ne saurait en aucun cas constituer un dommage pour le membre qui ne pourra prétendre à aucune indemnité de ce fait.
</p>
<p><strong>19. Responsabilité</strong></p>
<p>La Société ne peut en aucun cas être tenue responsable pour l’indisponibilité, qu’elle soit temporaire ou permanente du Site Internet et, bien qu’elle mette en oeuvre tous les moyens afin d’assurer en permanence le service, il se peut que celui-ci soit interrompu à tout moment. En outre, la Société se réserve le droit, par un acte volontaire, de rendre le Site indisponible afin de réaliser toute opération de mise à jour, d’amélioration ou de maintenance.
Tel que mentionné auparavant dans les présentes, la Société ne peut en aucun cas être tenue responsable des retards de réalisation d’une prestation de service pour des motifs qui échappent à son contrôle, indépendants de sa volonté, imprévisibles et irrésistibles ou dont la faute ne peut lui être imputable.
</p>

<p><strong>20. Information pré-contractuelle</strong></p>
<p>Préalablement à sa Commande, le Client reconnait avoir eu communication, de façon lisible et compréhensible, des CGV/CGU et des informations et renseignements prévus aux articles L111-1 à L111-7 du Code de la consommation, et notamment :</p>

<p>-les caractéristiques essentielles des Services ;</p>
<p>-le prix des Services ;</p>
<p>-la date ou le délai auquel la Société s'engage à fournir le Service ;</p>
<p>-les informations relatives à l'identité de la Société (coordonnées postales, électroniques) ;</p>
<p>-les informations relatives aux garanties légales et contractuelles et à leurs modalités de mise en oeuvre ;</p>
<p>-les informations relatives au droit de rétractation (délai, modalités d'exercice).</p>

<p>La passation d'une Commande sur le Site emporte adhésion et acceptation des CGV/CGU. Le Client ne pourra se prévaloir d'un document contradictoire.</p>

    </p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="{% url 'my_app:privacy' %}" role="button">Check our privacy policy</a>
      <a class="btn btn-primary btn-lg" href="{% url 'my_app:legalnotice' %}" role="button">Check our legal notice</a>
    </div>
</div>

{% endblock %}