{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title> Carbon-free virtual conference about: "{{ conftopass.title }}" </title>
        <meta name="description" content="Create a website for your virtual workshops in a few clicks. Example: {{ conftopass.title }}." />

    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.8.1/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.8.1/css/react-select.css" />

  </head>
  <body>
    <p>Zoom is loading</p>

    <!-- import ZoomMtg dependencies -->
    <script src="https://source.zoom.us/1.8.1/lib/vendor/react.min.js"></script>
    <script src="https://source.zoom.us/1.8.1/lib/vendor/react-dom.min.js"></script>
    <script src="https://source.zoom.us/1.8.1/lib/vendor/redux.min.js"></script>
    <script src="https://source.zoom.us/1.8.1/lib/vendor/redux-thunk.min.js"></script>
    <script src="https://source.zoom.us/1.8.1/lib/vendor/jquery.min.js"></script>
    <script src="https://source.zoom.us/1.8.1/lib/vendor/lodash.min.js"></script>

    <!-- import ZoomMtg -->
    <script src="https://source.zoom.us/zoom-meeting-1.8.1.min.js"></script>

    <!-- import local .js file -->
    <!--<script src="{% static 'js/index.js' %}"></script>-->

  <script>

    ZoomMtg.setZoomJSLib('https://source.zoom.us/1.8.3/lib', '/av');
    ZoomMtg.preLoadWasm();
    ZoomMtg.prepareJssdk();

    //meetingnumber,name,email,passwordmeeting,role

// make an http request to your server to get the signature
const meetConfig = {
        apiKey: 'dlDAD3ZyRUiT8zM3uxPU3g',
        meetingNumber: 99772159552,//,93435590076,
        leaveUrl: 'https://www.carbonfreeconf.com/',
        userName: 'Joe Kral',
        userEmail: 'a@carbonfreeconf.com',
        passWord: 'avfhfghjk',//0syZm3', // if required
        role: 1, // 1 for host; 0 for attendee, //5 for host not visible
        };


function getCookie(name) {
    if (!document.cookie) {
      return null;
    }
    const token = document.cookie.split(';')
      .map(c => c.trim())
      .filter(c => c.startsWith(name + '='));

    if (token.length === 0) {
      return null;
    }
    return decodeURIComponent(token[0].split('=')[1]);
  }

  const csrftoken = getCookie('csrftoken')
  console.log(csrftoken)

function getSignature(meetConfig){

	fetch('signaturezoom', {
			method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json',
              'X-CSRFToken': csrftoken
            },
			body: JSON.stringify({ meetingData: meetConfig }),
            credentials: 'same-origin',
		})
		.then(result => result.text())
		.then(response => {
			ZoomMtg.init({
				leaveUrl: meetConfig.leaveUrl,
				isSupportAV: true,
                screenShare: true,
                isSupportChat: true,
				success: function() {
				    var obj = JSON.parse(response);
                    console.log('sig'+obj.sign);
					ZoomMtg.join({
						signature: obj.sign,
						apiKey: meetConfig.apiKey,
						meetingNumber: meetConfig.meetingNumber,
						userName: meetConfig.userName,
						// password optional; set by Host
                        userEmail: meetConfig.userEmail,//for webinars
						passWord: meetConfig.passWord,
						success: function (res) {
                            console.log("join meeting success");
                            console.log("get attendee list");
                            ZoomMtg.getAttendeeslist({});
                            ZoomMtg.getCurrentUser({
                              success: function (res) {
                                console.log("success getCurrentUser", res.result.currentUser);
                              },
                            });
                          },
                        error: function (res) {
                                    console.log(res);
                                  },
					})
				}
			})
	})
}

getSignature(meetConfig);


  </script>

</body>
</html>
