amqp
anyjson==0.3.3
asgiref==3.4.1
awscli==1.22.15
beautifulsoup4==4.8.2
billiard==3.6.3.0
block-disposable-email==1.0.1
boto3==1.20.15
botocore==1.23.15
braintree==4.0.0
bs4==0.0.1
celery==4.4.1
certifi
cffi==1.14.6
chardet==3.0.4
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.3
confusable-homoglyphs==3.2.0
cryptography==3.4.7
cycler==0.11.0
decorator==4.4.2
dj-database-url==0.5.0
Django==3.0.4
django-annoying==0.10.6
django-appconf==1.0.4
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap-form==3.4
django-bootstrap4==1.1.1
django-categories-i18n==1.1.1
#git+https://github.com/qkral/django-celery@master#egg=django-celery
git+https://github.com/qkral/django-celery.git
#django-celery
django-celery-results==1.2.1
django-celerybeat-status==0.0.10
django-classy-tags==1.0.0
django-colorfield==0.3.2
django-cookie-consent==0.2.6
#-e git+git://github.com/briefmnews/django-cookie-consent-authenticateduser@b8a282976fd7a43bb484c1f2f78b229839e1a5cf#egg=django_cookie_consent_authenticateduser
#django-cookie-consent-authenticateduser==1.2.0
django-cookie-law==2.0.3
django-cors-headers==3.2.1
django-crispy-forms==1.9.0
django-csp
#git+git://github.com/qkral/django-easy-timezones@master#egg=django-easy-timezones
django-easy-timezones
django-el-pagination==3.3.0
django-etc==1.3.0
django-fluent-faq==1.0
django-fluent-utils==2.0.1
django-google-analytics-app==5.0.3
django-heroku==0.3.1
django-hitcount==1.3.3
django-hosts==5.1
django-jquery==3.1.0
django-js-asset==1.2.2
django-json-ld==0.0.4
django-money==1.1
django-mptt==0.11.0
django-multiselectfield==0.1.12
django-parler==2.0.1
django-polymorphic==2.1.2
django-ranged-response==0.2.0
django-registration==3.1.2
django-rosetta
django-simple-captcha==0.5.13
django-simple-coupons==0.5
django-six==1.0.4
django-slug-preview==1.0.4
django-storages==1.9.1
django-summernote==0.8.11.6
django-survey-and-report==1.3.34
django-tag-parser==3.2
django-taggit==1.5.1
django-tastypie==0.14.3
django-tellme==0.7.2
django-template-analyzer==1.6.2
django-tz-detect==0.3.0
django-vote==2.2.0
django-widget-tweaks==1.4.8
docutils==0.15.2
elasticsearch==7.6.0
elasticsearch-dsl==7.1.0
fonttools==4.28.2
#fpdf==1.7.2
git+https://github.com/qkral/pyfpdf.git
future==0.18.2
gunicorn==20.0.4
honcho==1.0.1
html5lib==1.0.1
idna==2.9
imageio==2.8.0
imageio-ffmpeg==0.4.1
inflect==5.0.2
ipaddress==1.0.16
jmespath==0.9.5
kiwisolver==1.3.2
kombu==4.6.10
#lxml==4.5.1
Markdown==3.3.4
matplotlib==3.5.0
moviepy==1.0.2
Naked==0.1.31
numpy==1.18.3
oauthlib==3.1.0
ordereddict==1.1
packaging==21.3
pandas==1.3.4
Pillow==7.2.0
proglog==0.1.9
prompt-toolkit==3.0.23
psycopg2==2.8.6
py-moneyed==0.8.0
pyasn1==0.4.8
pycountry==19.8.18
pycparser==2.20
pygeoip
PyJWT==1.7.1
pypandoc==1.5
pyparsing==3.0.6
PyPDF2==1.26.0
pySankeyBeta==1.3.0
PySocks==1.7.1
pytest-runner==5.2
python-dateutil==2.8.1
python-mimeparse==1.6.0
pytz==2019.3
PyVimeo==1.0.11
PyYAML==5.3.1
redis==3.5.3
reportlab==3.5.42
requests==2.23.0
requests-oauthlib==1.3.0
rocketchat-API==1.7.0
rsa==3.4.2
s3transfer==0.5.0
scipy==1.7.3
seaborn==0.11.2
setuptools-scm==6.3.2
shellescape==3.8.1
six==1.10.0
sorl-thumbnail==12.6.3
soupsieve==2.0
sqlparse==0.3.1
stripe==2.56.0
structlog==20.1.0
tinydb==4.1.1
tomli==1.2.2
tqdm==4.45.0
tuspy==0.2.1
tweepy==3.9.0
tzlocal==2.1
urllib3==1.25.8
vine==1.3.0
Wand==0.6.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
whitenoise==5.0.1
xhtml2pdf==0.2.4
xlrd==1.2.0
